In [55]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [32]:
X = pd.read_csv('X_train.csv', index_col=0)
X

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x822,x823,x824,x825,x826,x827,x828,x829,x830,x831
id,,,,,,,,,,,,,,,,,,,,,
0.0,14168.823171,10514.380717,3316.149698,94230.695124,102.386606,92.677127,11108.748199,10866.505510,10837.622093,10.227734,...,NaN,12352.094085,846.014651,105.132144,102.112809,2090.004260,2.691845,1234.374109,1000.784475,9285.751272
1.0,17757.037554,NaN,4101.016273,92959.527633,NaN,99.855168,10013.959449,10826.607494,10076.101597,11.436970,...,NaN,16198.071494,776.084467,106.385590,103.472030,2474.051881,2.287976,NaN,1012.626705,11750.284764
2.0,14226.656663,11029.642499,NaN,124055.600561,100.542483,92.860892,NaN,10492.342868,NaN,10.810076,...,10329.704431,13976.063780,737.040332,103.671234,109.458246,2656.083281,2.843706,888.353607,1048.810385,9553.922728
3.0,8766.012436,7384.202998,2147.308418,100157.719990,104.855061,101.929026,10050.049932,10499.521099,10525.030989,10.092109,...,10008.251395,6212.127347,329.044233,105.084488,104.858546,1097.785204,2.732257,927.752967,1048.357330,NaN
4.0,13801.016418,13269.493652,3408.316953,92048.527786,103.759758,95.789235,9667.353978,10750.783106,10618.800750,12.006773,...,10095.782015,13772.061493,NaN,NaN,100.369834,2693.053231,2.702908,1471.354073,1071.284484,9423.533063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207.0,18707.457475,13610.725702,3785.886941,113497.632841,109.526764,97.812339,11274.011935,10803.953566,10949.811419,NaN,...,8472.132451,17727.003274,1033.057071,104.838553,102.235191,3099.069091,3.079234,1362.889974,NaN,10110.360570
1208.0,17108.239122,12168.536128,3442.619145,98218.773311,100.468476,109.994258,11031.326117,10231.743317,10687.321177,10.238957,...,8839.251924,14721.087037,792.061138,105.823015,109.915094,3124.059793,2.935047,1577.404870,1026.749434,10620.330033
1209.0,14264.707321,9273.405761,3580.894003,101668.927699,102.620705,104.470375,9159.594864,10661.827392,10623.176915,10.132906,...,10264.321725,15226.056342,831.025190,101.926717,101.669153,2252.031870,NaN,1781.799720,1066.379647,10317.757445
1210.0,14907.077440,10936.636575,3159.167789,100400.608972,106.622507,84.859872,10356.404262,10107.960852,10384.924460,8.239864,...,10310.165709,12976.062457,852.001070,103.098317,104.397562,2585.048660,2.731768,1300.379678,1049.370040,10876.010268
1211.0,14975.969273,11451.350347,3107.470343,100080.295868,108.040548,NaN,10766.888640,10726.567333,10632.289329,10.687628,...,8853.948288,12953.077245,919.051273,107.668141,102.999153,2489.012323,2.721068,1416.819713,1088.315592,10359.138969

In [42]:
y = pd.read_csv('y_train.csv', index_col=0)
y

           y
id
0.0     74.0
1.0     51.0
2.0     70.0
3.0     52.0
4.0     85.0
...      ...
1207.0  70.0
1208.0  86.0
1209.0  68.0
1210.0  71.0
1211.0  53.0

[1212 rows x 1 columns]

In [33]:
X.describe()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x822,x823,x824,x825,x826,x827,x828,x829,x830,x831
count,1121.000000,1128.000000,1124.000000,1121.000000,1138.000000,1133.000000,1115.000000,1113.000000,1129.000000,1112.000000,...,1122.000000,1128.000000,1117.000000,1116.000000,1102.000000,1111.000000,1117.000000,1120.000000,1132.000000,1116.000000
mean,15220.402957,10950.160761,3430.837498,100002.281022,105.070358,99.968855,9983.055476,10496.207179,10495.835570,9.985880,...,10069.191241,13274.793928,812.316152,104.968652,105.063790,2482.685073,2.725659,1359.981226,1052.256384,9981.085085
std,2314.735855,1570.611458,443.431441,9708.061111,2.834582,9.566001,981.199159,278.859974,288.802549,1.001197,...,964.684756,2160.273617,180.550450,2.805768,2.819128,523.215963,0.263641,265.345180,29.172210,1014.488328
min,5636.623777,6764.060541,1849.453269,65828.916291,100.056578,70.232469,6797.836298,10000.771287,10000.339782,6.759685,...,7109.997185,4100.700865,164.997735,100.040624,100.015930,750.038434,1.590647,663.173673,1000.067137,6383.771227
25%,13846.177869,9859.438276,3152.193184,93497.927859,102.679233,93.586112,9351.114468,10260.607893,10242.516364,9.319323,...,9416.786301,11977.061474,694.099781,102.584331,102.615677,2155.245200,2.537801,1177.188917,1028.203921,9316.722099
50%,15048.467618,10839.483074,3401.539562,100053.800306,105.029940,99.670635,9991.006638,10498.862876,10494.225267,9.970521,...,10064.750764,13160.555394,792.045039,104.969600,105.136788,2459.092168,2.710103,1362.350726,1053.778881,9981.210986
75%,16653.018233,11902.078799,3698.564818,106139.852699,107.516555,106.045433,10588.909713,10732.429943,10734.838005,10.687774,...,10696.714321,14512.572842,925.032457,107.309535,107.407093,2791.051349,2.887536,1535.159914,1077.716726,10647.455420
max,28273.690135,17777.338221,5622.951648,133145.632257,110.087261,130.142499,13865.848591,11000.062311,10999.403374,13.828922,...,13173.145338,24901.251674,1589.225040,110.072565,110.069056,4904.988601,3.795277,2506.104650,1099.975679,13265.026039

In [48]:
# There are  missing values in our data set lets replace them with the mean. 
X = X.fillna(X.mean())

print(len(X[X.isna().any(axis=1)]))
print(len(y[y.isna().any(axis=1)])) # we also make sure there's no missing value for y .

0
0

In [51]:
# Split the data into training set and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=42)

In [70]:
### Sandardization of data and dimensionality reduction with PCA ###
X_train_scaled = StandardScaler().fit_transform(X_train.values)
pca = PCA(n_components=0.75, whiten=True)

X_pca = pca.fit_transform(X_train_scaled)
print(X_pca.shape)

(969, 246)